h1{
    /* center */
    text-align: center;
}

/* textarea almost full width */

.text-editor {
    width: 80%;
    height: 100%;
    
    padding: 10px;
    margin: 30px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: rgb(212, 255, 217);
    
}

#textToWrite{
    width: 80%;
    height: 100%;
    border: 4px solid green;
    border-radius: 10px;
    padding: 10px;
    margin: 30px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    overflow-y: scroll;
}


#save-txt-btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
#save-txt-btn:hover {
    background-color: #45a049;
}

